<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div id="mdlwp_widget-2" class="mdl-mega-footer--drop-down-section footer-widget widget_mdlwp_widget">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading footer-title">Material Design Links</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a target="_blank" href="http://www.getmdl.io/">Material Design Lite</a></li>
        <li><a target="_blank"
               href="https://www.google.com/design/spec/material-design/introduction.html">Material
          Design</a></li>
        <li><a target="_blank" href="http://google.com">Google</a></li>
      </ul>
    </div>
    <div id="mdlwp_widget-3" class="mdl-mega-footer--drop-down-section footer-widget widget_mdlwp_widget">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading footer-title">Brag Interactive</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a target="_blank" href="http://twitter.com/braginteractive">Twitter</a></li>
        <li><a target="_blank" href="http://github.com/braginteractive">GitHub</a></li>
        <li><a target="_blank" href="http://facebook.com/braginteracitve">Facebook</a></li>
      </ul>
    </div>
    <div id="mdlwp_widget-4" class="mdl-mega-footer--drop-down-section footer-widget widget_mdlwp_widget">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading footer-title">WordPress Themes</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a target="_blank" href="http://materialdesignthemes.com">Material Design Themes</a></li>
        <li><a target="_blank" href="http://bootstrapwp.com">BootstrapWP</a></li>
        <li><a target="_blank" href="http://bragthemes.com">Brag Themes</a></li>
      </ul>
    </div>
    <div id="text-2" class="mdl-mega-footer--drop-down-section footer-widget widget_text"><h1
            class="mdl-mega-footer--heading footer-title">Demo</h1>
      <div class="textwidget">This is a demo for the Material Design Lite WordPress theme called MDLWP.
        Pull request on GitHub welcome!
      </div>
    </div>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <ul id="menu-footer" class="mdl-mega-footer--link-list">
      <li id="menu-item-33"
          class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-33">
        <a href="/demo/">Home</a></li>
      <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
        <a href="http://mdlwp.com/demo/page-layout/">Default Page</a></li>
      <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
        <a href="http://mdlwp.com/demo/setup-video/">Setup Video</a></li>
      <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73">
        <a href="http://mdlwp.com/demo/ribbon-page/">Ribbon Page</a></li>
    </ul>
  </div>
</footer>