<header id="masthead" class="site-header mdl-layout__header" role="banner">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Steve's Blog</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <div class="mdlwp-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">

            <form role="search" method="get" class="search-form" action="http://mdlwp.com/demo/">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" value="" name="s" id="fixed-header-drawer-exp"/>
                </div>
            </form>
        </div>

        <!-- Navigation. We hide it in small screens. -->
        <div class="mdlwp-navigation-container">
            <nav class="mdl-navigation mdl-layout--large-screen-only"><a href="http://mdlwp.com/demo/setup-video/"
                                                                         class="mdl-navigation__link menu-item menu-item-type-post_type menu-item-object-page menu-item-65">Setup
                Video</a>
                <a href="http://mdlwp.com/demo/ribbon-page/"
                   class="mdl-navigation__link menu-item menu-item-type-post_type menu-item-object-page menu-item-72">Ribbon
                    Page</a>
                <a href="http://mdlwp.com/demo/page-layout/"
                   class="mdl-navigation__link menu-item menu-item-type-post_type menu-item-object-page menu-item-30">Page</a>
                <a href="/demo/"
                   class="mdl-navigation__link menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-31 is-active">Home</a>
            </nav>
        </div>


    </div>
</header>
