/*@import url(https://fonts.lug.ustc.edu.cn/css?family=Lato:300italic,700italic,400,700);*/
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
  url("../fonts/kaushan.woff") format('woff');
}

html {

}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  color: #222;
  /*background: url("/images/b16.png");*/
}



.wrapper {
  width: 640px;
  margin: 0 auto;
  background: #DEDEDE;
}

.wrapper .titletext {
  color: #FFFFFF;
  font: normal 32px/1.12 'Kaushan Script',“Helvetica Neue”, Helvetica, Arial;
  text-transform: capitalize;
}

.wrapper .headtext {
  color: #ffffff;
}

header, section, footer {
  display: block;
}

a {
  color: #428bca;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

header {
  background: #426485;
  position: relative;
  padding: 15px 20px;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #069;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}
header h3 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
}
header.without-description h1 {
  margin: 10px 0;
}
header p {
  margin: 0;
  padding-top: 0.1em;
  color: #61778B;
  width: 300px;
  font-size: 13px;
}
header p.view {
  display: none;
  font-weight: 700;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  -webkit-font-smoothing: antialiased;
}
header p.view a {
  color: #FFFFFF;
}
header p.view small {
  font-weight: 400;
}


header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 30px;
  height: 38px;
  background: #426485;
  border: 1px solid #FFFFFF;
  width: 350px;
}
header ul:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}
header ul li {
  width: 69px;
  float: left;
  border-left: 1px solid #3A7CBE;
  height: 38px;
}
header ul li + li {
  width: 69px;
  border-left: 1px solid #FFFFFF;
}
header ul li + li + li {
  width: 69px;
  border-left: 1px solid #FFFFFF;
}

header ul li + li + li + li {
  border-right: none;
  width: 69px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: 6px;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}


section {
  padding: 15px 20px;
  font-size: 15px;
  border: 1px solid #426485;
  background: #FFF;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  /*margin: 0 0 20px;*/
  margin: 10px 0 0;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 10px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

.a .h2 {
  color: #069;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-size:13px;
  //font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width:100%;
  border-radius: 3px;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 14px;
}

pre {
  padding: 20px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #f8f8f2;
  overflow-x:auto;
}
pre code {
  color: #000000;
}
li pre {
  margin-left: -40px;
  padding-left: 40px;
}


table {
  width: 100%;
  border-collapse: collapse;
}



th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  text-align:center;
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  /*overflow: hidden;*/
}

footer a {
  color: #BABABA;
  font-weight: bold;
}
footer p {
  margin: 0 auto;
  font-size:small;
  //float: left;
}
footer p + p {
  //float: right;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  footer {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}

/* Custom Part */
.publish-date {
  display: block;
  margin-top: -0.5em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #777777;
}

.read-more {
  /*margin: 0 20px 30px 20px;*/
  /*text-align: right;*/
}

.read-more a {
  padding: 5px;
  border: 1px solid #bfd0df;
  transition: .2s ease-out;
}


.read-more a:hover {
  color: #FFF;
  background: #426485;
}

.date {
  padding: 0;
  margin: 8px 0 20px 0;
  color: #999;
  text-align: left;
  display: block;
  text-indent: 0.15em;
  font-size: 13px;
}

.link {
  color: #428bca;
  transition: .2s ease-in;
}

.listing-item {
  display: block;
}

.listing-item a {
  text-decoration: none;
}

.listing-item a:hover {
  text-decoration: underline;
  transition: .2s ease-out;
}

.pagination {
  border-top: 1px solid #ddd;
  list-style: none;
  margin-top: 25px;
  padding: 25px 0;
  font-size: 14px;
}

.pagination a {
  margin: -10px 0 20px 0;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 5px 20px;
  border: 1px solid #bfd0df;
  float: left;
  transition: .2s ease-out;
}

.pagination a:hover {
  border: 1px solid #426485;
  /*color: #FFFFFF;*/
}

.pagination a.pre {

}

.pagination a.next {
  float: right;
}

.navigation {

}

.post-footer {
  border-bottom: 1px solid #dae0e6;
  height: 35px;
  margin-bottom: 40px;
}
