---
layout: default
---

<main class="demo-main mdl-layout__content">
  <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
    <div class="avatar-img">
      <img alt="" src="http://1.gravatar.com/avatar/70cf167a8a0a7fc3d83950b60cb537a7?s=32&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/70cf167a8a0a7fc3d83950b60cb537a7?s=64&amp;d=mm&amp;r=g 2x" class="avatar avatar-32 photo" height="32" width="32">			</div>

    <div class="entry-meta">
      <strong class="byline"> <span class="author vcard"><a class="url fn n" href="http://mdlwp.com/demo/author/dmin/">BragInteractive</a></span></strong> <span class="posted-on"><a href="http://mdlwp.com/demo/quisque-libero-metus-condimentum-nec/" rel="bookmark"><time class="entry-date published updated" datetime="2015-07-10T18:45:20+00:00">July 10, 2015</time></a></span>				</div><!-- .entry-meta -->
  </div>
  <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          Google &gt; Material Design Lite &gt; How to install MDL
        </div>
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>
    </div>
  </main>

