---
layout: default
---

<main class="demo-main mdl-layout__content">

  <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          Google &gt; Material Design Lite &gt; How to install MDL
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
          <div class="entry-meta">
            <strong class="byline">
                <span class="author vcard">
                    <a class="url fn n">Steve Lee</a>
                </span>
            </strong>
              <span class="posted-on">
                  <a href="http://mdlwp.com/demo/quisque-libero-metus-condimentum-nec/" rel="bookmark">
                      <time class="entry-date published updated"">{{ page.date | date: "%b %-d, %Y" }}</time>
                  </a>
              </span>
          </div>
        </div>
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>
    </div>
  </main>

